{% extends "base.html" %}

{% block title %}
  feeds
{% endblock title %}

    <!-- navbar -->

    {% block navbar %}

    {% include "navbar.html" %}

    {% endblock navbar %}

    <!-- end navbar -->

<!-- header -->
 {% block header %}
   
    {% include "header.html" %}

 {% endblock header %}


<!-- user posts -->

{% block post %}

  <div class="card mt-3 ">
    <div class="card-body">
      <h5 class="card-title">Alberto</h5> <span> <img src="https://cdn.pixabay.com/photo/2023/10/12/08/23/bird-8310172_1280.png" class="rounded-circle" alt="Cinque Terre" style="height: 60px;width: 60px;"> </span>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
    <img src="https://cdn.pixabay.com/photo/2024/08/06/14/43/dolphin-8949505_1280.jpg" class="card-img-bottom mx-auto" alt="..." style="height: 400px; width: 800px;">

    <div class="post-actions">
        <a href="" class="btn btn-outline-dark like-action" >Like(100)</a>
        <a href="" class="btn btn-outline-dark comment-action">Comments(12)</a>
    
        </div>
  </div>


<!-- end posts -->





</div>


{% endblock post %}

















