
<div class="container">

    <!-- header  for post something-->


    <div class="input-group m-3">
        <input type="text" class="form-control " placeholder="post something..." aria-label="Recipient's username" aria-describedby="button-addon2">
        <label class="input-group-text btn btn-light" for="inputGroupFile01">Upload image</label>
        <input type="file" class="form-control btn-secondary" id="inputGroupFile01" name="image">
        <button class="btn btn-info text-white" type="button" id="button-addon2">Post</button>
      </div>
      <div class="input-group mb-3">
        
      </div>

    <!-- end header -->
